[submodule "pinchana-core"]
	path = pinchana-core
	url = https://github.com/Pinchana/pinchana-core.git
[submodule "pinchana-server"]
	path = pinchana-server
	url = https://github.com/Pinchana/pinchana-server.git
[submodule "pinchana-tiktok"]
	path = pinchana-tiktok
	url = https://github.com/Pinchana/pinchana-tiktok.git
[submodule "pinchana-inst"]
	path = pinchana-inst
	url = https://github.com/Pinchana/pinchana-inst.git
[submodule "pinchana-shorts"]
	path = pinchana-shorts
	url = https://github.com/Pinchana/pinchana-shorts.git
[submodule "pinchana-soundcloud"]
	path = pinchana-soundcloud
	url = https://github.com/Pinchana/pinchana-soundcloud.git
[submodule "pinchana-ytmusic"]
	path = pinchana-ytmusic
	url = https://github.com/Pinchana/pinchana-ytmusic.git
[submodule "pinchana-spotify"]
	path = pinchana-spotify
	url = https://github.com/Pinchana/pinchana-spotify.git
[submodule "pinchana-deezer"]
	path = pinchana-deezer
	url = https://github.com/Pinchana/pinchana-deezer.git
[submodule "pinchana-threads"]
	path = pinchana-threads
	url = https://github.com/Pinchana/pinchana-threads.git
[submodule "pinchana-twitter"]
	path = pinchana-twitter
	url = https://github.com/Pinchana/pinchana-twitter.git
