[submodule "pinchana-core"]
	path = pinchana-core
	url = https://github.com/Pinchana/pinchana-core.git
[submodule "pinchana-server"]
	path = pinchana-server
	url = https://github.com/Pinchana/pinchana-server.git
[submodule "pinchana-tiktok"]
	path = pinchana-tiktok
	url = https://github.com/Pinchana/pinchana-tiktok.git
[submodule "pinchana-inst"]
	path = pinchana-inst
	url = https://github.com/Pinchana/pinchana-inst.git
